*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: url(../img/fondo.jpg);
    background-attachment: fixed;
}

.clearfix{
    float: none;
    clear: both;
}

#global{
    width: 90%;
    margin: 0px auto;
    margin-top: 30px;
    padding: 20px;
    color: #fff;
    background: rgba(11, 11, 11, 0.433);
    box-shadow: 0px 4px 8px rgb(250, 249, 249);
    border-radius: 12px;
}

#logo{
    font-family: Verdana,Arial;
    font-size: 25px;
    letter-spacing: 4px;
    color: white;
    text-align: center;
    width: 385px;
    float: left;
    margin-bottom: 20px;
}

#menu{
    font-family: helvetica, Arial;
    /* background: #333; */
    width: 100%;
    margin-bottom: 20px;
}

#menu a{
    color: white;
    text-decoration: none;
    padding: 14px 30px;
    transition: all 300ms;
    text-transform: uppercase;
    line-height: 46px;
}

.bxslider div {
    width: 100%;
    height: 100%;
}

.bxslider div img {
    margin: 0;
    width: 100%;
}

#posts{
    width: 60%;
    float: left;
    font-family: Helvetica, Arial;
}

.post{
    padding: 7px;
}

.post h2{
    font-size: 30px;
    color: #fff;
}

.post .date{
    color: #fff;
    display: block;
    margin-top: 5px;
}

.post p{
    margin: 10px 0px 20px 0px;
    line-height: 20px;
    text-align: justify;
}

.post .button-more{
    display:block;
    width: 120px;
    padding: 15px;
    color: white;
    text-decoration: none;
    margin: 10px 0px 20px 0px;
    font-size: 14px;
    text-align: center;
}

#aside{
    font-family: Helvetica, Arial;
    width:31%;
    float:right;
}

#aside h4{
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 10px;
    color: #fff;
}

#aside img{
    width: 100%;
}

#aside p{
    font-size: 15px;
    text-align: justify;
}

form input[type="text"],
form input[type="email"],
form input[type="password"]{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 80%;
    margin-bottom: 10px;
}

form input[type="submit"]{
    width: 70px;
    background: rgb(35, 34, 34);
    padding: 10px;
    /* border: 1px solid #ccc; */
    color: #FFF;
    cursor: pointer;
    border: none;
}

form input[type="submit"]:hover {
    background: rgba(212, 211, 211, 0.554);
    cursor: pointer;
    border: none;
}

footer{
    font-family: Helvetica, Arial;
    background: rgba(51, 51, 51, 0.70);
    color: white;
    height: 47px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    margin-top: 65px;
    line-height: 47px;
}

.bx-wrapper, .bx-viewport{
    height: 250px !important;
}

#change-theme{
    position: fixed;
    top: 40%;
    background: rgba(51, 51, 51, 0.70);
    width: 50px;
    height: 90px;
}

#togreen,#tored,#toblue{
    width: 20px;
    height: 20px;
    border: 1px solid whitesmoke;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

#togreen{
    background: #235E3D;
}

#tored{
    background: #CA3413;
}

#toblue{
    background: #1F87C4;
}

.scroll{
    text-decoration: none;
    color: white;
    float: right;
}